/* thead th.sticky {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  } */
  /* Ensure the sticky header has a higher z-index to stay above the content */
thead th.sticky {
    z-index: 1;
    background-color: white; /* Ensure the sticky header has a solid background */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  